<%- include('../includes/head.ejs') %>
<form method="POST" action="/login">
    <label>Email</label>
    <input type="email" name="email"/>
    <label>Password</label>
    <input type="password" name="password"/>
    <button type="submit" class='submit'>Login</button>
  </form>
<%- include('../includes/end.ejs') %>
