extends layouts/main-layout.pug
block content
    h1 Please type your user name and click submit
        form(method="POST" action="/admin/users")
        input(type="text" name="name")
        button(type="submit") Submit
    h1 Users list: 
    ul
    each user in users 
        li #{user.name}