<%- include('includes/head.ejs') %>
<h1>Please type your user name and click submit</h1>
<form method="POST" action="/admin/users">
  <input type="text" name="name" />
  <button type="submit">Submit</button>
  <h1>Users list:</h1>
  <% if (users && users.length) { %>
  <ul>
    <% users.map((user) => { %>
    <li><%= user %></li>
    <% }) %>
  </ul>
  <% } else {%>
  <h2>No users found!</h2>
  <% }%>
</form>
<%- include('includes/end.ejs') %>
