<%- include('includes/head.ejs') %>
<h1>Please type your user name and click submit</h1>
<form method="POST" action="/admin/users">
  <input type="text" name="name" />
  <button type="submit">Submit</button>
  <h1>Users list:</h1>
  <ul>
    <% users.map(({name}) => { %>
    <li><%= name %></li>
    <% }) %>
  </ul>
</form>
<%- include('includes/end.ejs') %>
