* {
    background-color: rgb(230, 230, 230);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 1rem;
}

input {
    padding: 0.3em;
}

button {
    background-color: #eeedff;
    border: darkblue 1px solid;
    box-shadow: black 2px 2px 1px;
    font-size: 15px;
    padding: 0.3em 0.7em;
}