:root {
  --blue: #5297ff;
  --dark-blue: #0049b6;
  --light-blue: #d6e9ff;
  --red: #fc6868;
  --light-red: #ffb9b9;
  --dark-red: #d12f2f;
  --grey: #7c7c7c;
  --white: #eeeeee;
  --padding-user: 0.4rem 1rem;
}

* {
  background-color: rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;
}

input {
  padding: 0.3em;
}

button {
  background: var(--light-blue);
  border: var(--dark-blue) 1px solid;
  box-shadow: black 2px 2px 1px;
  font-size: 15px;
  padding: 0.3em 0.7em;
  cursor: pointer;
}

button.delete {
  background: var(--red);
}
button.delete:hover {
  background: var(--dark-red);
  color: var(--white);
}

button:active:hover {
  background: var(--dark-blue);
}

button:hover {
  background: var(--blue);
}

button.active {
  background: var(--blue);
}

.nav {
  background: #7c7c7c;
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 0.5rem;
}

.nav a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: none;
  margin: 0.2rem;
  color: var(--white);
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  border: 2px solid var(--grey);
}

.nav a.right {
  margin-left: auto;
}

.nav a:active:hover {
  background: var(--blue);
  border: 2px inset var(--light-blue);
}

.nav a:hover {
  background: var(--blue);
  border: 2px outset var(--light-blue);
}

.nav h1 {
  background: none;
  color: var(--white);
  margin: var(--padding-user);
}

#active {
  background: var(--blue);
  border: 2px inset var(--light-blue);
}

#user-table td {
  padding: var(--padding-user);
  background: var(--white);
  border: 1px solid var(--grey);
}

#user-table th {
  padding: var(--padding-user);
  background: var(--grey);
  color: var(--white);
}

form {
  display: inline-grid;
}

form .submit {
  margin-top: 10px;
}
